@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

html, body {
    margin: 0;
    height: 100%;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.container {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    position: relative; /* stick footer on bottom */
    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4 {
    font-weight: normal; /* undo bold for all headings */
}

a {
    text-decoration: none; /* remove underline for all links */
}

ul {
    list-style: none; /* remove list bullet point */ 
}

/* ------------------------------------------------- */
/* Layout.js (base layout with header, main, and footer) */
/* header */
header {
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    background-color: white;
}

.nav-container {
    display: flex;
    align-items: center;
    right: 20px;
    position: relative;
}

.nav-logo {
    left: 20px;
    width: 200px; /* 200px for regular, */
}

.nav-github-logo {
    width: 30px;
}

nav ul {
    white-space: nowrap;
}

nav ul li {
    display: inline-block;
}

.nav-links {
    padding: 0px 20px;
}

.nav-link-text {
    color: black;
    text-decoration: none;
    padding: 0px 20px;
}

/* main body */
main {
    padding-top: 60px; /* header size */
    padding-bottom: 120px; /* footer size */
    display: flex;
    flex-direction: column;
    z-index: 0;
}

/* footer */
footer {
    bottom: 0;
    background-color: #8684FF;
    color: white;
    width: 100%;
    height: 120px;
    position: absolute;
}

/* ------------------------------------------------- */
/* home page */
.home-intro {
    display: flex;
    width: 100%;
    background: rgb(175,148,234);
    background: linear-gradient(90deg, rgba(175,148,234,0) 0%, rgba(134,132,255,1) 91%);
    height: 100vh;
}

.home-intro-logo {
    width: 300px;
}

.home-intro-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #6360ff;
    width: 100vw;
    font-weight: 900px;
}

.home-intro-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #8684FF; purple: 8684FF, blue: 2663FF */
    width: 50vw;
}

.home-examples {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-examples-heading {
    width: 100%;
    text-align: center;
}

.home-examples-item-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.home-examples-item {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.home-examples-item-image {
    height: 300px;
    border-radius: 10px;
}

.home-examples-item-description {
    
}

.home-download {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #c2c1ff;
}

.home-download-button {
    width: 200px;
    height: 100px;
    font-size: medium;
    border: 0;
    border-radius: 30px;
    background-color: #ffffff;
    color:#c2c1ff;
}

.home-code-examples {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
    padding-right: 40px;
    height: 70vh;
}

/* ------------------------------------------------- */
/* reference page */
.reference-container {
    width: 100%;
    height: 100%;
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
    /* background-color: pink; */
}

.reference-side-bar {
    width: 180px; /* side bar width */
    height: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* background-color: skyblue; */
    position: fixed;
    margin: 0;
    padding: 0;
}

.side-bar-heading {
    font-size: 1.5rem;
}

.side-bar-sub-heading {
    font-size: 1.2rem;
}

.side-bar-index {
    
}

.side-bar-index-link {
    font-size: 1.2rem;
    color: black;
}

.reference-content {
    margin-left: 200px; /* side bar width */
    height: 100%;
    overflow: auto;
    padding: 0px 30px;
}

/* download page */
.download-content {
    padding-left: 40px;
    padding-right: 40px;
}

/* download page */
.about-content {
    padding-left: 40px;
    padding-right: 40px;
}