@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

html, body {
    margin: 0;
    height: 100%;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

p {
    line-height: 1.7; /* default line spacing */
}

.container {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    position: relative; /* stick footer on bottom */
    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4 {
    font-weight: normal; /* undo bold for all headings */
}

/* a {
    text-decoration: none;
} */

a:link {
    color: #8684FF;
}

a:visited {
    color: #8684FF;
}

ul {
    list-style: none; /* remove list bullet point */ 
}

/* ------------------------------------------------- */
/* Layout.js (base layout with header, main, and footer) */
/* header */
header {
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    background-color: white;
}

.nav-container {
    display: flex;
    align-items: center;
    right: 25px; /* right padding of nav bar */
    position: relative;
}

.nav-logo {
    left: 25px; /* left padding of nav bar */
    width: 200px;
}

.nav-github-logo {
    width: 30px;

}

nav ul {
    white-space: nowrap;
}

nav ul li {
    display: inline-block;
}

.nav-links {
    padding: 0px 20px;
}

.nav-link-text {
    color: black !important;
    text-decoration: none;
    padding: 0px 20px;
}

/* .nav-link-item a:active {
    color: #8684FF;
} */

/* main body */
main {
    display: flex;
    flex-direction: column;
    z-index: 0;
    margin-bottom: 100px; /* footer size */
}

/* footer */
footer {
    bottom: 0;
    background-color: #8684FF;
    color: white;
    width: 100%;
    height: 150px;
    overflow: hidden;
    /* position: relative; */
    position: absolute;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* z-index: 0; */
}

.footer-contact {
    width: 20%;
    padding-left: 50px; /* footer left padding */
}

.footer-contact a {
    color: white;
}

.footer-contact-heading {
    font-size: 19px;
    margin: 0;
    padding-bottom: 10px;
}

.footer-contact-text {
    font-size: 16px;
    margin: 0;
}

.footer-project-description {
    font-size: 14px;
    padding-right: 50px; /* footer right padding */
}

/* ------------------------------------------------- */
/* home page */
.home-container {
    margin: 0;
    padding: 0;
}

.home-intro {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0) 58%, rgba(134,132,255,1) 200%);display: flex;
    display: flex;
    align-items: center;
}

.home-intro-text {
    margin: 0;
    padding-left: 100px;
    font-size: calc(90px + 1.0vw);
    line-height: 1.3 !important;
}

/* typewriter animation from https://css-tricks.com/snippets/css/typewriter-effect/ */
.typewriter {
    display: inline-block;
    overflow: hidden;  /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    border-right: .12em solid black; /* The typwriter cursor */
    margin: 0;
    margin-bottom: -45px;
    animation: typing 3s steps(40, end), blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 400px; }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black }
  }

.home-intro-logo {
    position: relative;
    right: 170px;
    top: 230px;
}


/* .home-intro-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    font-weight: 900px;
}

.home-intro-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
} */

.home-examples {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-examples-heading {
    width: 100%;
    text-align: center;
    font-size: 25px;
    padding-bottom: 30px;
}

.home-examples-item-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.home-examples-item {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: black;
    border-radius: 10px;
}

.home-examples-item-image {
    height: 300px;
    border-radius: 10px;
}

.home-examples-item-description {
    
}

.home-download {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.home-download-subtext {
    font-size: 20px;
}

/* .home-download-button {
    width: 200px;
    height: 100px;
    font-size: medium;
    border: 0;
    border-radius: 30px;
    background-color: #ffffff;
    color:#c2c1ff;
} */

.home-code-examples {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
    padding-right: 40px;
    height: 50vh;
}

/* home acknowledgement section*/
.home-acknowledgements {
    height: 70vh;
}

.home-acknowledgements-heading {
    padding: 40px;
    font-size: 25px;
}

.home-acknowledgements-logo-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
}

.home-gsoc-logo {
    width: 250px;
}

.home-processing-logo {
    width: 250px;
}

/* ------------------------------------------------- */
/* reference page */
.reference-container {
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 60px;  /* header size */
}

/* reference side bar */
.reference-side-bar-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}

.reference-side-bar {
    width: 250px; /* side bar width */
    display: flex;
    flex-direction: column;
    position: fixed;
    padding: 0;
    margin-top: 60px;
    top: 0;
    left: 0;
    bottom:0;
    overflow-y: scroll;
    overflow-x: hidden;
}

.side-bar-heading {
    font-size: 20px;
    margin: 0;
    padding-top: 20px;
    text-align: center;
}

.side-bar-items {
    padding: 20px;
    /* overflow: scroll; */
}

.side-bar-sub-heading {
    font-size: 19px;
    font-weight: bold;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 5px; /* distance between border and text */
    border-color: #bcbbf9;
    border-bottom-style: dotted;
}

.side-bar-model-heading {
    font-size: 17px;
}

.side-bar-index {
    margin-top: 20px;
    margin-bottom: 20px;
}

.side-bar-index a {
    text-decoration: none;
    color: black;
    font-size: 17px;
}
/* reference markdown content */
.reference-content {
    margin-left: 250px; /* side bar width */
    height: 100%;
    overflow: auto;
    padding: 0px 30px;
}
/* ------------------------------------------------- */
/* download page */
.download-content {
    padding-top: 60px; /* header size */
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 150px; /* footer size */
}
/* ------------------------------------------------- */
/* about page */
.about-content {
    padding-top: 60px; /* header size */
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 150px; /* footer size */
}